/* -----------body-fonts---------- */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", Verdana, sans-serif;
  color: var(--text-color);
  font-size: 14px;
  background-color: var(--hat-color);
}

:root {
  --attention-color: #2196f3;
  --text-color: #212121;
  --hat-color: #ffffff;
  --feature-color: #757575;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}
/* ----------body-fonts---------- */

/* ----------header---------- */

.header {
  background: var(--hat-color);
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;

  color: var(--attention-color);
}

.logo-header {
  color: #000000;
}

.nav-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--text-color);
}

.nav-link:hover,
.nav-link:focus,
.header-contacts:hover,
.header-contacts:focus,
.current {
  color: var(--attention-color);
}

.header-contacts {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--feature-color);
}

/* ----------header---------- */

/* -------------hero----------- */

.hero {
  background: #2f303a;
  text-align: center;
}
.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--hat-color);
}

.hero-btn {
  margin-bottom: 294px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;

  color: var(--hat-color);
}

.container {
  width: 1200px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}


.hero-btn {
  background: var(--attention-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
}

.hero-description-title {
  margin-top: 0;
  margin-bottom: 10;
  line-height: 1.14;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.hero-description {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--feature-color);
}
/* -------------hero----------- */

/* ----------occupation---------- */

.section-title {
  margin-top: 0;
  margin-bottom: 50;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

/* ----------occupation---------- */

/* ----------team---------- */

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team-position {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  color: var(--feature-color);
}

/* ----------team---------- */

/* ----------footer---------- */

.footer {
  background: #2f303a;
}

.logo-footer {
  color: var(--hat-color);
}

.footer-address {
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--hat-color);
}
.footer-contacts {
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.nav-link:hover,
.nav-link:focus,
.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--attention-color);
}

/* ----------footer---------- */

/* ----------portfolio-html---------- */

.filter-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;

  color: var(--text-color);
  background: #f5f4fa;
  border-radius: 4px;
  border-color: transparent;
}

.filter-btn:hover,
.filter-btn:focus {
  background: var(--attention-color);
  color: var(--hat-color);
}
.filter-title {
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;
}

.filter-info {
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.03em;

  color: var(--feature-color);
}

.filter-btn.active {
  background-color: var(--attention-color);
  color: var(--hat-color);
}
